/*form {
    margin-left: 10%;
    margin-right: 10%;
}
input[type=checkbox] {
    align-content: center;
}

.input {
    margin-right: auto;
    margin-left: auto;
}*/

.form {
    display: block;
    width: 90%;
    margin: auto;
}

.box-form {
    display: block;
    width: 100%;
    margin: auto;
}

form {
    width: 100%;
}

input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    cursor: pointer;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

div.filter{
    display: inline-block;
    width: 40%;
    left: 10%;
    position: relative;
    text-align: center;
}

div.sort {
    display: inline-block;
    width: 40%;
    left: 10%;
    position: relative;
    text-align: center;
}

select{
    width: 100%;
}
