* { font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif, sans-serif;
    color: #3b3b3b;
}

.box-title {
    padding: 10px;
    width: auto;
    text-align: center;
}

.box-form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.box-table {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
}