body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, sans-serif;
    color: #3b3b3b;
}
table {
    border-collapse: collapse;
    text-align: center;
}

th {
    height: 5pc;
    background: #ff913a;
    border-bottom: 5px solid rgb(99, 99, 99);
    padding: 10px;
}

td {
    height: 4pc;
    padding: 20px;
}

td:first-child {
    text-align: left;
}
tr:nth-child(odd) {
    background: white;
}
tr:nth-child(even) {
    background: #e0e0e0;
}
tr[role=row]:hover { background-color: #bcbcbc; }

/*for sort*/
th[role=columnheader]:not(.no-sort):hover:after {
    visibility: visible;
    opacity: 1;
}

th[role=columnheader]:not(.no-sort):after {
    content: '';
    float: right;
    margin-top: 7px;
    margin-left: 10px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
    opacity: 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
    border-bottom: none;
    border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
    visibility: visible;
    opacity: 0.4;
}

th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
}


.layer-form {
    padding-left: 30px;
    padding-right: 0px;
    display: inline-block;
    width: 25%;
    vertical-align: top;
    text-align: left;
    border-top: 5px solid #636363;
}

.layer-table {
    width: 65%;
    display: inline-block;
    vertical-align: top;
}

.center {
    padding-left: 100px;
    padding-right: 100px;
    display: block;
    text-align: center;
    width: auto;

}





